<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>enpit!</title>
<style type="text/css">
<!--
body {
font: 100% Verdana, Arial, Helvetica, sans-serif;
background: #ffffff;
margin: 0;
padding: 0;
text-align: center;
color: #000000;
}

.oneColElsCtrHdr #container {
width: 80%; 
background: #FFFFFF;
margin: 0 auto; 
border: 1px solid #000000;
text-align: left;
}
.oneColElsCtrHdr #header { 
background: #DDDDDD; 
padding: 0 10px 0 20px;
} 
.oneColElsCtrHdr #header h1 {
margin: 0;
padding: 10px 0;
}
.oneColElsCtrHdr #mainContent {
padding: 0 20px;
background: #FFFFFF;
}
.oneColElsCtrHdr #footer { 
padding: 0 10px;
background:#DDDDDD;
} 
.oneColElsCtrHdr #footer p {
margin: 0;
padding: 10px 0;
}
-->
</style>
</head>

<body class="oneColElsCtrHdr">

<div id="container">
  <div id="header">
<h1>見出し</h1>
  <!-- end #header --></div>
  <div id="mainContent">
<h1> メインコンテンツ </h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam,  justo convallis luctus rutrum, erat nulla fermentum diam, at nonummy quam  ante ac quam. Maecenas urna purus, fermentum id, molestie in, commodo  porttitor, felis. Nam blandit quam ut lacus. Quisque ornare risus quis  ligula. Phasellus tristique purus a augue condimentum adipiscing. Aenean  sagittis. Etiam leo pede, rhoncus venenatis, tristique in, vulputate at,  odio. Donec et ipsum et sapien vehicula nonummy. Suspendisse potenti. Fusce  varius urna id quam. Sed neque mi, varius eget, tincidunt nec, suscipit id,  libero. In eget purus. Vestibulum ut nisl. Donec eu mi sed turpis feugiat  feugiat. Integer turpis arcu, pellentesque eget, cursus et, fermentum ut,  sapien. Fusce metus mi, eleifend sollicitudin, molestie id, varius et, nibh.  Donec nec libero.</p><br/>
<h2>H2 レベルの見出し </h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam,  justo convallis luctus rutrum, erat nulla fermentum diam, at nonummy quam  ante ac quam. Maecenas urna purus, fermentum id, molestie in, commodo  porttitor, felis. Nam blandit quam ut lacus. Quisque ornare risus quis  ligula. Phasellus tristique purus a augue condimentum adipiscing. Aenean  sagittis. Etiam leo pede, rhoncus venenatis, tristique in, vulputate at, odio.</p>

<div class="starter-template">
  <h1>30代男性 のランキングTOP 30  動作テスト</h1>
    <table class="table table-hover">
      <tr>
        <th>商品名</th>
        <th>値段</th>
      </tr>
      <% @rankings.each do |ranking| %>            
      <tr>            
        <td><%= ranking.name %></td>
        <td><%= ranking.price %></td>
      </tr>
      <% end %>                    
    </table>          
</div>


    <!-- end #mainContent --></div>
  <div id="footer">
<p>2014 enpit</p>
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>
